.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .registerBox {
    width: 570px;
    padding: 70px 0;
    background-color: #fff;
    border-radius: 3rem;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, .12);
    -webkit-box-shadow: 10px 10px 40px rgba(0, 0, 0, .12);
    -moz-box-shadow: 10px 10px 40px rgba(0, 0, 0, .12);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &>h3 {
      font-size: 24px;
      margin-bottom: 70px;
    }

    .formItem {
      position: relative;
      width: 434px;

      &:not(:last-child) {
        margin-bottom: 23px;
      }

      &:last-of-type {
        margin-bottom: 67px;
      }

      &>label {
        display: inline-block;
        font-size: 13px;
        margin-bottom: 3px;
        margin-left: 3px;
        color: #383838;
      }

      &>input {
        width: 100%;
        height: 40px;
        border: 1px solid #cdd2d4;
        border-radius: .625rem;
        padding: 0 20px;

        &:focus {
          outline: 1px solid #5fbb48;
        }

        &.wrong {
          border-color: #ff0000;

          &:focus {
            outline: 1px solid #ff0000;
          }
        }
      }

      &>span {
        position: absolute;
        left: 8px;
        bottom: -17px;
        display: inline-block;
        width: 100%;
        color: red;
        font-size: 12px;
      }
    }

    .submitBtn {
      width: 434px;
      background-color: #5fbb48;
      color: #fff;
      font-size: 13px;
      letter-spacing: 0.02rem;
      padding: 11px 20px;
    }
  }
}