.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 40px 60px;

  .lrnListWrapper {
    width: 100%;
    max-width: 1300px;

    .goEditBtn {
      align-self: flex-end;
      margin-bottom: 20px;
      background-color: #fff;
      background-color: #5fbb48;
      color: #fff;
    }

    .cardList {
      width: 100%;
      display: grid;
      grid-gap: 32px;
      grid-template-columns: repeat(auto-fit, 300px);
      justify-content: center;
    }

    .moveUpBtn {
      position: fixed;
      bottom: 10px;
      right: 10px;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      padding: 0;
      font-size: 30px;
      background-color: #5fbb48;
    }
  }

}