* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  background-color: #000;
  width: 100%;
  height: 100%;
}

h2,
h3,
h4,
h5,
h6,
p,
label {
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
}

textarea {
  resize: none;
}

input:focus {
  outline: 1px solid #06B03F;
}