.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 30px 0;

  .diaryRecordWrapper {
    width: 100%;
    max-width: 1000px;
    font-size: 14px;

    &>h1 {
      margin-left: 10px;
      margin-bottom: 30px;
      font-weight: 900;
    }

    textarea {
      padding: 12px;
      font-size: 13px;

      &:focus {
        outline: 2px solid #5fbb48;
      }
    }

    h3 {
      color: #000;
      margin-bottom: 16px;
    }

    .ecnmValWrapper {
      align-self: center;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 38px;

      .ecnmValBox {
        width: 240px;
        height: 290px;
        border-radius: 15px;
        background-color: #fff;
        padding: 26px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, .12);
        -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, .12);
        -moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, .12);

        &>div {
          display: grid;
          grid-template-columns: 30px 144px;
          gap: 3px 20px;
          margin-bottom: 19px;

          &>input {
            outline: 0;
            border-width: 0 0 2px;
            border: none;
            border-bottom: 1px solid #2c2c2c;
            padding: 3px 10px;

            &:focus {
              border-color: #5fbb48;
            }
          }
        }

        label {
          color: #2d2d2d;
        }

        textarea {
          width: 100%;
          min-height: 107px;
          border: 1px solid #2c2c2c;
          border-radius: 8px;
        }
      }
    }

    .articleWrapper {
      align-self: center;
      width: 100%;
      border-radius: 15px;
      background-color: #fff;
      padding: 24px 27px;
      margin-bottom: 38px;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, .12);
      -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, .12);
      -moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, .12);

      &>div {
        display: flex;
        margin-bottom: 16px;

        &>h3 {
          margin-bottom: 0;
          line-height: 30px;
        }

        button {
          width: 122px;
          height: 27px;
          border-radius: 15px;
          font-size: 12px;
          margin-left: 40px;
          line-height: 27px;
          padding: 0;
        }

        .artcInptWrappers {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 530px;
          margin-left: 40px;

          &>input {
            width: 100%;
            border: none;
            border-bottom: 1px solid #2c2c2c;
            padding: 7px 10px;

            &:focus {
              outline: none;
            }
          }

          &>button {
            margin-left: 0;
          }
        }
      }

      &>ul {
        margin-left: 20px;
        list-style: circle;

        &>li {
          margin-bottom: 5px;

          .artcItem {
            display: flex;
            align-items: center;

            &>a {
              width: fit-content;
              margin-right: 10px;
            }

            &>button {
              width: auto;
              height: auto;
              background-color: transparent;
              font-size: 11px;
              font-weight: 600;
              border: 1px solid #ff3636;
              padding: 4px 13px;
              border-radius: 20px;
              color: #ff3636;
            }
          }
        }
      }
    }

    .genrRevwWrapper {
      align-self: center;
      width: 100%;
      border-radius: 15px;
      background-color: #fff;
      padding: 24px 27px;
      margin-bottom: 48px;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, .12);
      -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, .12);
      -moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, .12);

      &>textarea {
        width: 100%;
        min-height: 127px;
        border-radius: 15px;
        padding: 20px;
      }
    }

    .btnWrapper {
      align-self: center;
      width: 100%;
      display: flex;
      justify-content: space-between;

      &>button:first-of-type {
        color: #fff;
        background-color: #5fbb48;
        padding: 0;

        &>a {
          width: 100%;
          height: 100%;
          padding: 8px 20px;
        }
      }

      &>div {
        button:first-of-type {
          background-color: red;
          color: #fff;
          margin-right: 10px;
          border-color: #ff3636;
        }
      }
    }
  }
}