.container {
  padding: 100px 40px 0;

  &>table {
    table-layout: fixed;
    border-spacing: 0 10px;
    // border-collapse: collapse;
    margin-bottom: 24px;

    &>thead {
      background-color: transparent;
      border-bottom: 1px solid #ccc;

      &>tr>th {
        padding-bottom: 5px;
        font-size: 13px;
      }
    }

    &>tbody>tr>td {
      border: 1px solid #e9eff2;
      padding: 15px 7px;
      padding-top: 20px;
      padding-left: 25px;
      background-color: #fff;

      &:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-right: none;
      }

      &:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-left: none;
      }

      &>a {
        .newTitl {
          margin-bottom: 4px;
        }

        .newsDesc {
          width: 100%;
          font-size: 13px;
          color: #b2b2b2;
          line-height: 19px;
        }
      }
    }

    .newDt {
      text-align: center;
      font-size: 13px;
    }

  }

  &>.paginationBox {

    &>button {
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 0;
      background-color: #2f2f2f;
      color: #ccc;
      padding: 0;

      &:first-of-type {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-right: 10px;
      }

      &:last-of-type {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}